/* 1. Import wajib di atas */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");
@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";

/* 2. Plugin / source DaisyUI */
@source "../.flowbite-react/class-list.json";
@plugin "daisyui";

/* 3. Deklarasi variabel dan CSS lainnya */
:root {
  /* --primary-900: #233876; */
  --font-poppins: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}
